:root {
    background-color: #856888;
    background-color: #893446;
    background-color: #fffd87;
    background-color: #C9BEDC;
    background-color: #fffd71;
}

/* solo copie y pegue los colores aqui para tener una referencia de cada color que voy a usar */

/* !saludos profe :D */